<div class="row mt-5">
    <div class="col-md-5 offset-3">
        <h4>Добавление статьи</h4>
        <form method="POST" action="/addArticle">
            <div class="form-group" >
                <label for="articleHeader">Заголовок статьи</label>
                <input type="text" class="form-control" id="articleHeader"  name="articleHeader">
            </div>
            <div class="form-group" >
                <label for="articleText">Текст статьи</label>
                <textarea class="form-control" id="articleText"  name="articleText" placeholder="Текст статьи" rows="20"> </textarea>
            </div>
            <input type="submit" class="btn btn-block btn-success" value="Подобрать рубрику">
        </form>
    </div>
</div>