{{#each articles}}
<div class="row mt-3">
    
    <div class="col-md-10 offset-1">
        <h4>{{header}}</h4>
        <p><i>{{keywords}}</i></p>
        {{text}}
        <hr>
    </div>
</div>
{{/each}}