<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Класс</th>
                    <th scope="col">SimCos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Спорт</td>
                    <td>{{classificationResult.sportsMeasure}}</td>
                </tr>
                <tr>
                    <td>Технологии</td>
                    <td>{{classificationResult.techMeasure}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>